<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.vest.rtspPlayer"
        version="0.0.1">

  <name>rtspPlayer</name>
  <description>
    Edimax Edilife plugin.
  </description>


  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/rtspPlayer.js" target="js/rtspPlayer.js"/>

  <js-module src="www/rtspPlayer.js" name="rtspPlayer">
    <clobbers target="rtspPlayer" />
  </js-module>

  <platform name="ios">

    <config-file target="config.xml" parent="/widget">
      <feature name="rtspPlayer">
        <param name="ios-package" value="rtspPlayer" />
      </feature>
    </config-file>

    <source-file src="lib/dist/libLifeLibrary.a" framework="true" />
	
    <resource-file src="lib/MediaStreamingLib/MediaStreamingLib/Base.lproj/Main.storyboard" />
	<resource-file src="lib/MediaStreamingLib/MediaStreamingLib/Base.lproj/LaunchScreen.storyboard" />
	
    <framework src="CoreGraphics.framework" />
    <framework src="UIKit.framework" />
    <framework src="Foundation.framework" />
    <framework src="AVFoundation.framework" />

    <header-file src="lib/MediaStreamingLib/MediaStreamingLib/ViewController.h" target-dir="rtspplayer/MediaStreamingLib"/>
    <header-file src="lib/MediaStreamingLib/MediaStreamingLib/AppDelegate.h" target-dir="rtspplayer/MediaStreamingLib"/>
    <header-file src="lib/MediaStreamingLib/MediaStreamingLib/LifeLibrary.h" target-dir="rtspplayer/MediaStreamingLib"/>
	
    <source-file src="lib/MediaStreamingLib/MediaStreamingLib/ViewController.m" target-dir="rtspplayer/MediaStreamingLib"/>
    <source-file src="lib/MediaStreamingLib/MediaStreamingLib/AppDelegate.m" target-dir="rtspplayer/MediaStreamingLib"/>
    <source-file src="lib/MediaStreamingLib/MediaStreamingLib/main.m" target-dir="rtspplayer/MediaStreamingLib"/>
	
    <header-file src="src/ios/rtspPlayer.h" target-dir="rtspplayer"/>
    <source-file src="src/ios/rtspPlayer.m" target-dir="rtspplayer"/>
	
	
  </platform>

</plugin>
