<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.madtatu.rtspPlayer"
        version="0.0.1">

  <name>rtspPlayer</name>
  <description>
    Edimax Edilife plugin.
  </description>


  <engines>
	<engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/rtspPlayer.js" target="js/rtspPlayer.js"/>

  <js-module src="www/rtspPlayer.js" name="rtspPlayer">
    <clobbers target="rtspPlayer" />
  </js-module>

  <platform name="ios">

    <config-file target="config.xml" parent="/widget">
      <feature name="rtspPlayer">
        <param name="ios-package" value="CDVrtspPlayer" />
      </feature>
    </config-file>

	<source-file src="lib/libLifeLibrary.a" framework="true" target-dir="rtspplayer/lib"/>
	<resource-file src="lib/Base.lproj/Main.storyboard" />

	<framework src="CoreGraphics.framework" />
    <framework src="UIKit.framework" />
    <framework src="Foundation.framework" />
    <framework src="AVFoundation.framework" />
	
	<header-file src="lib/LifeLibrary.h" target-dir="rtspplayer/lib"/>
	<header-file src="lib/ViewController.h" target-dir="rtspplayer/lib"/>
	<source-file src="lib/ViewController.m" target-dir="rtspplayer/lib"/>
	<header-file src="src/ios/CDVrtspPlayer.h" target-dir="rtspplayer"/>
    <source-file src="src/ios/CDVrtspPlayer.m" target-dir="rtspplayer"/>

	
	
  </platform>

</plugin>
